extends layout 

block content 
  h1= title
  a(href='/catalog/designer/create') + Create new designer

  ul 
    each designer in designer_list
      li 
        a(href=designer.url) #{designer.name} 
    else  
      li There are no categories
        